.animate {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.animate.show {
    opacity: 1;
    transform: translateY(0);
}
@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
